{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des projets</h1>
        {% for project in projects %}

        {% endfor %}    
    </div>
   

{% endblock %}
